ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

img{
    width: 100px;
}
.content{
    text-align: center;
    align-items: center;
}
.card{
    border: #04AA6D 3px solid;
}
.about{
    border: #ff0303 3px solid;
}
.box{
    border: #37c400 3px solid;
    padding: 3px;
}
.repo{
    border: #ff03b3 3px solid;
    margin: 3px;
}